.home-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.form-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.city-data-class {

}